
<div *ngIf="tag">
    <h2><span jhiTranslate="gumehApp.tag.detail.title">Tag</span> {{tag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gumehApp.tag.title">Title</span></dt>
        <dd>
            <span>{{tag.title}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.tag.noPosts">No Posts</span></dt>
        <dd>
            <span>{{tag.noPosts}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.tag.noFollowers">No Followers</span></dt>
        <dd>
            <span>{{tag.noFollowers}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.tag.relatedTags">Related Tags</span></dt>
        <dd>
            <span>{{tag.relatedTags}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.tag.encyclopediaLink">Encyclopedia Link</span></dt>
        <dd>
            <span>{{tag.encyclopediaLink}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tag/'+ tag.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
