
<div *ngIf="resurce">
    <h2><span jhiTranslate="gumehApp.resurce.detail.title">Resurce</span> {{resurce.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gumehApp.resurce.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'gumehApp.ResourceType.' + resurce.type}}">{{resurce.type}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.resurce.title">Title</span></dt>
        <dd>
            <span>{{resurce.title}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.resurce.publishYear">Publish Year</span></dt>
        <dd>
            <span>{{resurce.publishYear}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.resurce.noPosts">No Posts</span></dt>
        <dd>
            <span>{{resurce.noPosts}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.resurce.creator">Creator</span></dt>
        <dd>
            <span>{{resurce.creator}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.resurce.link">Link</span></dt>
        <dd>
            <span>{{resurce.link}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.resurce.activated">Activated</span></dt>
        <dd>
            <span>{{resurce.activated}}</span>
        </dd>
        <dt><span jhiTranslate="gumehApp.resurce.certified">Certified</span></dt>
        <dd>
            <span>{{resurce.certified}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'resurce/'+ resurce.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
